#news-sections {
    .news {

        &-banner {
            // padding-top: 120px !important;
    
            .news-carousel {
                padding: 37px 30px 120px;
                position: relative;
                
                @include media-breakpoint-up(lg) {
                    padding: 37px 0 120px;
                }

                @include media-breakpoint-down(lg) {
                    max-width: 500px;
                    margin: 0 auto;
                }

                .list {
                    gap: 80px;
                    .img-area {
                        width: 100%;
                        max-width: 550px;
    
                        img {
                            width: 100%;
                            object-fit: cover;
                            display: block;
                            height: 200px;
                            
                            @include media-breakpoint-up(lg) {
                                aspect-ratio: (555/394);
                                margin-top: 18px;
                                height: auto;
                            }    

                        }
                    }
                    
                    .content {
                        @include media-breakpoint-down(lg) {
                            padding: 50px 0;
                        }
                    }
                    h2 {
                        font-weight: 700;
                        letter-spacing: unset;
                        margin-bottom: 30px;
                        font-size: 2rem;
                        line-height: 2.3889rem;
                        letter-spacing: -0.01em;

                        @include media-breakpoint-up(lg) {
                            font-size: 3.5556rem;
                            line-height: 4.2778rem;
                        }
                    }
                    
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.3333rem;
                        line-height: 1.6111rem;
                        margin-bottom: 30px;
                        color: #505050;
                    }
                }
    
                .slick {        
                    &-prev,
                    &-next {
                        background-color: unset;
                        border: none;
                        z-index: 1;
                        @include watermark("../images/icons/prev-dark.svg", 30px, 30px);
                        font-size: 0;
                        background-size: 12px auto !important;
                        position: absolute;
                        left: -10px;
                        top: 127px;
                        @include breakpoint(1280px) {
                            width: 36px;
                            height: 36px;
                        }
                        
                        @include media-breakpoint-up(lg) {
                            @include vertical-center-abs;
                            left: -80px;

                        }

                    }
            
                    &-next {
                        left: unset;
                        right: -10px;
                        @include image-background("../images/icons/next-dark.svg");
                        @include media-breakpoint-up(lg) {
                            right: -80px;
                        }
                    }
            
                    &-dots {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        list-style: none;
                        @include horizontal-center-abs;
                        margin-top: 40px;
                        li {
                            margin: 0 5px;
                        }
            
                        li > button {
                            border: 1px solid $dark;
                            font-size: 0;
                            @include create-circle(8px);
                            padding: 0;
                            margin: 0;
                            background-color: transparent;
                            display: block;
                        }
            
                        .slick-active > button {
                            background-color: $dark;
                        }
                    }
                }
            }
        }
        
        &-list {
            margin: 50px 0 62px;
            
            h2 {
                @include media-breakpoint-down(md) {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 34px;
                    letter-spacing: -0.019em;
                }
            }
            .category-title {
                margin-bottom: 22px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 62px;
                }
    
            }

            .see-more {
                background: url('../images/icons/next.svg') right 23px center no-repeat;
                background-size: 8px auto;
                padding-right: 40px;
                color: $dark-pink;
                font-weight: 600;
                line-height: 1.2222rem;
            }
            .content {
                @include media-breakpoint-down(lg) {
                    overflow: auto;
                    margin: 0 -20px 50px;
                }
                
                .row {
                    margin-bottom: -72px;
                    margin: 50px -15px;

                    @include breakpoint(1200px) {
                        margin-left: -38px;
                        margin-right: -38px;
        
                        > div {
                            padding-left: 38px;
                            padding-right: 38px;
                            margin-bottom: 72px;
                        }
                    }
    
                    @include media-breakpoint-down(lg) {
                        
                        margin: 30px -12px -24px;
                        padding: 0 20px; 
                        flex-wrap: nowrap;
                        > div {
                            min-width: 280px;
                            padding-left: 12px;
                            padding-right: 12px;
                            margin-bottom: 24px;
                        }
                    }
                }
            }

        }

        &-detail {
            @include media-breakpoint-up(md) {
                padding-top: 120px !important;
            }


            .breadcrumbs {
                margin-bottom: 80px;
            }

            h3 {
                color: $dark-pink;
                font-weight: 700;
                @include media-breakpoint-up(md) {
                    font-size: 1.3333rem;
                    line-height: 1.6111rem;
                }
            }
            h1 {
                font-weight: 800;
                letter-spacing: -0.01em;
                margin-bottom: 30px;
                font-size: 24px;
                line-height: 29px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 70px;
                    font-size: 36px;
                    line-height: 43px;
                }
            }

            img {
                display: block;
                margin: 0 auto 20px;
                width: 100%;
                @include media-breakpoint-up(md) {
                    margin-bottom: 60px;
                }

                @include breakpoint(768px) {
                    width: 80%;
                }
            }

            .content {
            
                @include media-breakpoint-down(md) {
                    padding: 30px 30px 0;
                }


                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.014em;
                    color: #505050;
 
                    @include media-breakpoint-up(md) {
                        font-size: 18px;
                        line-height: 25px;
                    }
                }

    
                h3 {
                    margin-bottom: 30px;
                    margin-top: 20px;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 60px;
                        margin-top: 40px;
                    }
                    
                }
                
                p:not(:last-child) {
                    margin-bottom: 20px;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 30px;
                    }
                }
            }
        }


    }
    
    .search-and-filter {
        padding: 40px 0 60px;
    }

    .by-category {
        .container {
            @include media-breakpoint-down(sm) {
                max-width: 260px;
                padding: 0;
            }

            .row {
                margin: 50px -15px;
                
                @include media-breakpoint-up(lg) {
                    margin-bottom: -72px;
                    margin-left: -38px;
                    margin-right: -38px;
    
                    [class*="col"] {
                        padding-left: 38px;
                        padding-right: 38px;
                        margin-bottom: 72px;
                    }
                }

                @include media-breakpoint-down(lg) {
                    
                    margin: 30px -12px -24px;
                    padding: 0 20px; 
                    // flex-wrap: nowrap;
                    [class*="col"] {
                        padding-left: 12px;
                        padding-right: 12px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

// news item
.news-item {
	display: block;
	position: relative;
	border: 1px solid #BE2B64;
	border-radius: 8px;
	overflow: hidden;
    @include media-breakpoint-down(sm) {
        padding-bottom: 150px;
    }

	&:before {
		@include befaft-abs(100%, 100%, unset, 0);
		bottom: 0;
		z-index: 1;
        background: linear-gradient(360deg, #FFFFFF 31.21%, rgba(255, 255, 255, 0) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @include media-breakpoint-up(sm) {
            height: 270px;
            background: linear-gradient(360deg, #FFFFFF 31.21%, rgba(255, 255, 255, 0) 100%);
        }

        @include media-breakpoint-down(sm) {
            height: 183.38px;
            top: 110px;
        }

	}

	img {
		position: relative;
		z-index: 0;
		width: 100%;
        height: unset !important;
		object-fit: cover;
		aspect-ratio: (205/228);
        
        @include media-breakpoint-up(sm) {
            aspect-ratio: (312/426);
        }
	}

	.caption {
		position: absolute;
		z-index: 1;
		left: 0;
		width: 100%;
		bottom: 0;
		padding: 16px;
		
		h5 {
			margin-top: 4px;
			margin-bottom: 12px;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			min-height: 40px;
		}
		span {
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
		}
	}

}