#search-sections {

    .search-result {
        position: relative;
        z-index: 1;
        .breadcrumbs {
            margin-bottom: 40px;
        }

        > .content {
            max-width: 1100px;
            margin: 0 auto 103px;
            min-height: 500px;
        }
        
        .btn-area {
            gap: 20px;

            button {
                min-width: 100px;
                border-radius: 50px;
                text-transform: capitalize;

                &.active,
                &:hover {
                    color: $white;
                    background-color: $dark-pink;
                }
            }
        }

        .tab {
            &-pane {
                padding: 27px 0 100px;

                .product-list {
                    max-width: 1042px;
                    margin: 0 auto;

                    .row {
                        margin: 0 -27px;

                        [class*='col'] {
                            padding-left: 27px;
                            padding-right: 27px;
                            margin-bottom: 60px;
                        }

                        a {
                            height: 100%;
                            border: 1px solid #be2b64;
                            border-radius: 6px;
                            padding: 20px 20px 14px;
                            @include image-background("/");
            
                            h3{
                                color: $dark-pink;
                            }
            
                            h3 {
                                font-weight: 700;
                            }
            
                            img {
                                height: 290px;
                                display: block;
                                margin: 35px auto 0;
                                filter: drop-shadow(70.9774px 80.3445px 59.1479px rgba(0, 0, 0, 0.1)) drop-shadow(46.0039px 52.0751px 34.6398px rgba(0, 0, 0, 0.0759259)) drop-shadow(27.3394px 30.9475px 18.8397px rgba(0, 0, 0, 0.0607407)) drop-shadow(14.1955px 16.0689px 9.61153px rgba(0, 0, 0, 0.05)) drop-shadow(5.78334px 6.54659px 4.81946px rgba(0, 0, 0, 0.0392593)) drop-shadow(1.3144px 1.48786px 2.32758px rgba(0, 0, 0, 0.0240741));
                            }
                        }
                    }
                }

                .faqs {
                    max-width: 800px;
                    margin-bottom: 70px;
                }

                .news-list {
                    .row {
                        margin: 0 -38px;

                        [class*='col'] {
                            padding-left: 38px;
                            padding-right: 38px;
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }
} 