// shop layout

#validator-sections {
    .product-validator {
        background: linear-gradient(124.56deg, #F1D8E6 43.87%, #E792C1 150.58%);
        padding-bottom: 50px;
        @include media-breakpoint-up(lg) {
            @include image-background("../images/bg/hero-product.jpg");
            padding-bottom: 230px;

        }

        .validator {
            margin-top: 30px;
            > div {
                @include media-breakpoint-up(lg) {
                    padding: 0 80px;
                }

                > div {
                    &:first-child {
                        padding: 0;
                        @include media-breakpoint-up(lg) {
                            width: calc(100% - 400px);
                        }

                        h1 {

                            letter-spacing: unset;
                            color: $dark-pink;
                            font-weight: 800;
                            font-size: 24px;
                            line-height: 29px;
                            @include media-breakpoint-up(md) {
                                font-weight: 700;
                                font-size: 3.5556rem;
                                line-height: 4.2778rem;
                            }
                        }

                        h3 {
                            letter-spacing: unset;
                            margin-bottom: 15px;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 140%;

                            @include media-breakpoint-up(md) {
                                font-size: 1.3333rem;
                                line-height: 1.6111rem;
                                margin-bottom: 60px;
                            }

                        }
                        p {
                            color: $dark-pink;
                            margin-bottom: 2rem;
                        }
                    }
                    &:last-child {
                        @include media-breakpoint-up(lg) {
                            width: 400px;
                        }

    
                        img {
                            display: block;
                        }
                    }
                }
            }
    

        }
    }
}

.modal-validator {
    .modal {

        &-dialog {
            max-width: 600px;
            padding: 0 20px;
        }

        &-content {
            border-radius: 0;
            background: white;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            position: relative;

            form {
                input {
                    border: 1px solid #BE2B64;
                    border-radius: 4px;
                    width: 100%;
                    max-width: 300px;
                    margin: 26px auto 30px;
                    padding: 15px 24px;
                    outline: unset;
                    color: #505050;
                    outline: none;
                    &:focus {
                        border-color: #505050;
                    }
                }
  
                ::placeholder {
                    color: #979797;
                }
            }
        }

        &-close {
            display: block;
            @include watermark('../images/icons/close-modal.svg', 30px, 30px);
            position: absolute;
            top: -15px;
            right: -15px;
            
            @include media-breakpoint-up(lg) {
                top: -34px;
                right: -34px;
                width: 68px;
                height: 68px;
            }
        }

        &-header {
            min-height: 30px;
            background: #F2D9E7;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 8px 8px 0px 0px;
            padding: 20px 0;
            
            @include media-breakpoint-up(md) {
                padding: 30px 0;
                min-height: 60px;
            }

            img {
                margin: 0 auto;
                box-shadow: 0px 10px 30px rgba(190, 43, 100, 0.56);
                display: block;
                border-radius: 50%;
                width: 36px;
                
                @include media-breakpoint-up(md) {
                    width: 72px;
                }
            }
        }

        &-body {
            @include media-breakpoint-up(lg) {
                padding: 42px 76px 27px;
            }
            
            p {
                margin-bottom: 30px;
            }

            h3 {
                @include media-breakpoint-down(md) {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
            }
            img {
                margin: 26px auto;
                display: block;
                width: 80px;
                filter: drop-shadow(95.9999px 108.669px 80px rgba(0, 0, 0, 0.1)) drop-shadow(62.2222px 70.4338px 46.8519px rgba(0, 0, 0, 0.0759259)) drop-shadow(36.9777px 41.8578px 25.4815px rgba(0, 0, 0, 0.0607407)) drop-shadow(19.2px 21.7339px 13px rgba(0, 0, 0, 0.05)) drop-shadow(7.82222px 8.85454px 6.51852px rgba(0, 0, 0, 0.0392593)) drop-shadow(1.77778px 2.01239px 3.14815px rgba(0, 0, 0, 0.0240741));
                
                @include media-breakpoint-up(md) {
                    width: 170px;
                }
            }
        }
    }
}