html {
	font-size: 16px;
	@include breakpoint(1280px) {
		font-size: 18px;
	}
}

body{
	margin: 0;
	padding: 0;
	color: $dark;
	font-family: $main-font;
	@include font-smoothing;
	
	&.noscroll{
		overflow: hidden;
	}
}

section{
	position: relative;
}

#content{
	// overflow-x: hidden;
	position: relative;
	
	> div section:first-of-type {
		padding-top: 72px;
	}
}

a{ 
	@include animation(.25s); 
	text-decoration: none;
}




.container{
	width: 100%;
	padding: 0px 20px; 
	position: relative;
	max-width: 1440px;

	@include media-breakpoint-up(md) {
		padding: 0px 40px; 
	}

	@include media-breakpoint-up(xl) {
		padding: 0px 80px; 
	}

	&-180 {
		@include media-breakpoint-up(xl) {
			padding: 0px 180px; 
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-pink;
}


.breadcrumbs {
	display: flex;
	padding: 60px 0 0;
	> * {
		display: block;
		margin-right: 8px;
		color: $dark-pink !important;
		


		&.active {
			font-weight: 700;
		}
	} 
	
	a:hover {
		text-decoration: underline;
	}
}

.pagination {
	margin-top: 80px;

	.page-item {
		padding: 8px;
		margin: 0 5px;

		a.page-link {
			color: $dark-pink;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			padding: 0;
			background: none;
			border: none;

			&.prev,
			&.next {
				@include watermark("../images/icons/prev.svg", 30px, 30px);
				font-size: 0;
				background-size: 16px auto !important;
			}

			&.next {
				@include image-background("../images/icons/next.svg");
			}

		}

		&.active {
			position: relative;
			padding: 8px 16px;

			&:before {
				z-index: -1;
				@include befaft-abs(30px, 30px, 0, 0);
				@include center-abs;
				background-color: $dark-pink;
				border-radius: 50%;
			}

			a.page-link {
				color: white;
			}
		}
	}
}

.search-and-filter {
	.sort,
	.filter {
		@include watermark('../images/icons/sort.svg', 36px, 36px);
		margin-left: .8889rem;
		display: block;
		font-size: 0;
	}

	.dropdown {
		.filter {
			@include image-background('../images/icons/filter.svg');

			&[aria-expanded="true"] {
				@include image-background('../images/icons/close.svg');
			}
		}
		.dropdown-menu {
			padding: 0;
			border: 2px solid #BE2B64;
			border-radius: 10px;
			min-width: 300px;
			margin-top: 20px !important;

			a {
				padding: 10px;
				&:hover {
					color: $dark-pink;
					font-weight: 700;
					background-color: unset;
				}
			}
		}
	}
	form {
		&.search {
			border: 2px solid $dark-pink;
			border-radius: 8px;
			box-sizing: border-box;
			width: 340px;
			padding: 10px 16px 10px 10px;
			display: flex;
			align-items: center;

			input {
				padding: 0;
				border: none;
				background: none;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 25px;
				letter-spacing: -0.014em;
				outline: none !important;
				box-shadow: none !important;
				width: 100%;
				color: $dark-pink;

				&::placeholder {
					color: #9098B1;
				}
			}

			button {
				@include watermark('../images/icons/search.svg', 25px, 25px);
				background-color: unset;
				margin-right: 10px;
				font-size: 0;
				border: none;
			}
		}
	}
}

.share-area {
	padding: 45px 0 170px;

	.links {
		display: flex;
		gap: 24px;
		a {
			display: block;
			@include watermark('..', 32px, 32px);
			
			&.fb {
				@include image-background('../images/icons/fb-pink.svg');
			}

			&.tw {
				@include image-background('../images/icons/tw-pink.svg');
			}
		}
	}
}

.product-validator {
	background: linear-gradient(124.56deg, #f1d8e6 43.87%, #e792c1 150.58%);

	.container {
		> div {
			> div {
				&:first-child {
					width: calc(100% - 550px);

					padding: 0 120px 0 80px;
					h2,
					p {
						color: $dark-pink;
						margin-bottom: 2rem;
					}
				}
				&:last-child {
					width: 550px;

					img {
						display: block;
					}
				}
			}
		}

		form {
			margin: 60px 0 42px;
			width: auto;

			.info {
				position: relative;
				display: inline-block;
				font-size: 0.7778rem;
				line-height: 17px;

				&:after {
					content: '';
					width: 160%;
					height: 1px;
					background-color: $dark-pink;
					position: absolute;
					top: 50%;
					right: -20px;
					transform: translate(100%, -50%);
				}
			}
			
			::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: $dark;
			}
			::-moz-placeholder {
				/* Firefox 19+ */
				color: $dark;
			}
			:-ms-input-placeholder {
				/* IE 10+ */
				color: $dark;
			}
			:-moz-placeholder {
				/* Firefox 18- */
				color: $dark;
			}

			input {
				display: block;
				background: white;
				margin: 16px 0 36px;
				max-width: 350px;
				padding: 16px 24px;
				color: $dark;
				width: 100%;
				border: 1px solid $dark-pink;
				border-radius: 4px;
			}
		}

		.notes {
			font-size: 10px;
			line-height: 20px;
		}
	}
}

.bottom-leafs {
	height: 412px;

	&::before {
		@include befaft-abs(412px, 381px, 0, 0);
		@include image-background('../images/leaf-1.png')
	}

	&::after {
		@include befaft-abs(388px, 295px, unset, unset);
		right: 0;
		bottom: 0;
		@include image-background('../images/leaf-2.png');
	}
}

#page-sections {
	.default-page {
		.breadcrumbs {
			margin-bottom: 35px;
		}

		.content {
			h1,
			h2,
			h3,
			h4 {
				color: $dark-pink;
			}

			h1 {
				font-weight: 700;
				font-size: 36px;
				line-height: 43px;
				letter-spacing: -0.01em;
				margin-bottom: 35px;
			}

			h2
			h3,
			h4 {
				margin-bottom: 22px;
			}
		}
	}
}

.form-default {
	.form-group {
		margin-bottom: 36px;

		label {
			font-weight: 600;
			font-size: 24px;
			line-height: 34px;
			letter-spacing: -0.019em;
			margin-bottom: 10px;
			display: block;
			color: $dark-pink;
		}

		textarea,
		input {
			padding: 10px;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			/* identical to box height, or 139% */
			letter-spacing: -0.014em;
			color: #979797;
			padding: 10px;
			border: 1px solid #BE2B64;
			border-radius: 8px;
			width: 100%;
			outline: none;
		}

		::placeholder {
			color: #979797;
		}
	}
}

.faqs {
	.faq-item {
		margin-bottom: 24px;
		border: 1px solid $dark-pink;
		border-radius: 4px 5px 5px 4px;
		position: relative;
		background-color: white;
		padding-left: 40px;

		&::before {
			@include befaft-abs(4px, 100%, 0, 0);
			background-color: $dark-pink;
		}

		&::after {
			@include befaft-abs(20px, 12px, 20px, unset);
			@include image-background('../images/icons/chevron-down.svg');
			right: 40px;
		}

		a[data-bs-toggle="collapse"] {
			display: block;
			padding: 9px 80px 9px 0px;
			color: $dark-pink;
			font-weight: 600;
			font-size: 24px;
			line-height: 34px;
		}

		.content {
			max-width: 640px;
			padding: 8px 20px 18px 0;
			p {
				font-size: 14px;
				line-height: 20px;
				/* or 143% */
				letter-spacing: -0.017em;
				font-weight: 400;
				color: $dark;

				&:not(:last-child) {
					margin-bottom: 20px;
				}

				strong {
					display: block;
					color: $dark-pink;
				}
				
				+ ul {
					margin-top: -20px;
				}

				a {
					text-decoration-line: underline;
					font-weight: bold;
					color: #171988;
				}
			}

			ul {
				&:not(:last-child) {
					margin-bottom: 20px;
				}

				li {
					font-size: 14px;
					line-height: 20px;
					/* or 143% */
					letter-spacing: -0.017em;
					font-weight: 400;
					color: $dark;
					margin-left: 20px;
					margin-bottom: 0;
				}
			}
		}
	}
}


.ratings {
	display: flex;
	justify-content: center;
	gap: 4px;

	.star {
		height: 28px;
		width: 28px;
		background: url(../images/icons/star-unfill.svg);
		background-size: auto 100%;
		background-position: left center;
		position: relative;

		.fill {
			width: calc(28px * var(--star-width));
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/icons/star.svg);
			background-size: auto 100%;
			background-position: left center;
		}
	}
}

.review {
	&:not(:last-child) {
		margin-bottom: 40px;
	}

	.name {
		font-weight: 700;
		font-size: .8333rem;
		line-height: 1.8889rem;
		/* identical to box height, or 227% */
		letter-spacing: -0.019em;
		color: #BE2B64;
	}

	p {
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.017em;
		color: #505050;
	}
	
	.ratings {
		justify-content: start;
		margin: 10px 0 25px;

		.star {
			height: 15px;
			width: 15px;
	
			.fill {
				width: calc(15px * var(--star-width));
			}
		}
	}
}