html {
	font-size: 18px;
}

body{
	margin: 0;
	padding: 0;
	color: $dark;
	font-family: $main-font;
	@include font-smoothing;
	
	&.noscroll{
		overflow: hidden;
	}
}

section{
	position: relative;
}

#content{
	// overflow-x: hidden;
	position: relative;
	
	> div section:first-of-type {
		padding-top: 72px;
	}
}

a{ 
	@include animation(.25s); 
	text-decoration: none;
}




.container{
	width: 100%;
	padding: 0px 20px; 
	position: relative;
	max-width: 1440px;

	@include breakpoint(768px) {
		padding: 0px 40px; 
	}

	@include breakpoint(1280px) {
		padding: 0px 80px; 
	}

	&-180 {
		@include breakpoint(1280px) {
			padding: 0px 180px; 
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-pink;
}


.breadcumbs {
	display: flex;

	> * {
		display: block;
		margin-right: 8px;
		color: $dark-pink !important;
		


		&.active {
			font-weight: 700;
		}
	} 
	
	a:hover {
		text-decoration: underline;
	}
}

.pagination {
	margin-top: 80px;

	.page-item {
		padding: 8px;
		margin: 0 5px;

		a.page-link {
			color: $dark-pink;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			padding: 0;
			background: none;
			border: none;

			&.prev,
			&.next {
				@include watermark("../images/icons/prev.svg", 30px, 30px);
				font-size: 0;
				background-size: 16px auto !important;
			}

			&.next {
				@include image-background("../images/icons/next.svg");
			}

		}

		&.active {
			position: relative;
			padding: 8px 16px;

			&:before {
				z-index: -1;
				@include befaft-abs(30px, 30px, 0, 0);
				@include center-abs;
				background-color: $dark-pink;
				border-radius: 50%;
			}

			a.page-link {
				color: white;
			}
		}
	}
}

.search-and-filter {
	.sort,
	.filter {
		@include watermark('../images/icons/sort.svg', 36px, 36px);
		margin-left: .8889rem;
		display: block;
		font-size: 0;
	}

	.dropdown {
		.filter {
			@include image-background('../images/icons/filter.svg');

			&[aria-expanded="true"] {
				@include image-background('../images/icons/close.svg');
			}
		}
		.dropdown-menu {
			padding: 0;
			border: 2px solid #BE2B64;
			border-radius: 10px;
			min-width: 300px;
			margin-top: 20px !important;

			a {
				padding: 10px;
				&:hover {
					color: $dark-pink;
					font-weight: 700;
					background-color: unset;
				}
			}
		}
	}
	form {
		&.search {
			border: 2px solid $dark-pink;
			border-radius: 8px;
			box-sizing: border-box;
			width: 340px;
			padding: 10px 16px 10px 10px;
			display: flex;
			align-items: center;

			input {
				padding: 0;
				border: none;
				background: none;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 25px;
				letter-spacing: -0.014em;
				outline: none !important;
				box-shadow: none !important;
				width: 100%;
				color: $dark-pink;

				&::placeholder {
					color: #9098B1;
				}
			}

			button {
				@include watermark('../images/icons/search.svg', 25px, 25px);
				background-color: unset;
				margin-right: 10px;
				font-size: 0;
				border: none;
			}
		}
	}
}

.share-area {
	padding: 45px 0 170px;

	.links {
		display: flex;
		gap: 24px;
		a {
			display: block;
			@include watermark('..', 32px, 32px);
			
			&.fb {
				@include image-background('../images/icons/fb-pink.svg');
			}

			&.tw {
				@include image-background('../images/icons/tw-pink.svg');
			}
		}
	}
}

.product-validator {
	background: linear-gradient(124.56deg, #f1d8e6 43.87%, #e792c1 150.58%);

	.container {
		> div {
			> div {
				&:first-child {
					width: calc(100% - 550px);

					padding: 0 120px 0 80px;
					h2,
					p {
						color: $dark-pink;
						margin-bottom: 2rem;
					}
				}
				&:last-child {
					width: 550px;

					img {
						display: block;
					}
				}
			}
		}

		form {
			margin: 60px 0 42px;
			width: auto;

			.info {
				position: relative;
				display: inline-block;
				font-size: 0.7778rem;
				line-height: 17px;

				&:after {
					content: '';
					width: 160%;
					height: 1px;
					background-color: $dark-pink;
					position: absolute;
					top: 50%;
					right: -20px;
					transform: translate(100%, -50%);
				}
			}
			
			::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: $dark;
			}
			::-moz-placeholder {
				/* Firefox 19+ */
				color: $dark;
			}
			:-ms-input-placeholder {
				/* IE 10+ */
				color: $dark;
			}
			:-moz-placeholder {
				/* Firefox 18- */
				color: $dark;
			}

			input {
				display: block;
				background: white;
				margin: 16px 0 36px;
				max-width: 350px;
				padding: 16px 24px;
				color: $dark;
				width: 100%;
				border: 1px solid $dark-pink;
				border-radius: 4px;
			}
		}

		.notes {
			font-size: 10px;
			line-height: 20px;
		}
	}
}