html {
	font-size: 18px;
}

body{
	margin: 0;
	padding: 0;
	color: $dark;
	font-family: $main-font;
	@include font-smoothing;
	
	&.noscroll{
		overflow: hidden;
	}
}

section{
	position: relative;
}

#content{
	overflow-x: hidden;
	position: relative;
	
	> section:first-of-type {
		padding-top: 72px;
	}
}

a{ 
	@include animation(.25s); 
	text-decoration: none;
}




.container{
	width: 100%;
	padding: 0px 20px; 
	position: relative;

	@include breakpoint(768px) {
		padding: 0px 20px; 
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-pink;
}
