// themes: nutrindo
// based library

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    mxl: 1040px,
    xl: 1200px,
    xxl: 1400px
);

@import "~bootstrap/scss/bootstrap";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~slick-carousel/slick/slick";

// custom style
@import 'component/reset';
@import 'component/stylesheet';
@import 'component/variable';
@import 'component/function';
@import 'component/text';
@import 'component/button';
@import 'component/global';
@import 'component/testimonial';
@import 'partials/header';
@import 'partials/footer';

@import 'partials/home';
@import 'partials/about';
@import 'partials/shop';
@import 'partials/news';
@import 'partials/validator';
@import 'partials/contactus';
@import 'partials/search';
@import 'partials/product';
